{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="{% static 'js/val.js' %}"></script>
    
    <!-- <link rel="stylesheet" href="{% static 'css/new.css'%}"> -->
    
    <style>
        .error{color: red;}
    </style>
</head>
<body>
    <!-- <img src="{% static 'images/aaa.png' %}" alt=""> -->
    <!-- <button>click</button>
    <h1>hellooooo</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, aliquam animi. Rem quod odit aliquid libero a aspernatur possimus sit!</p> -->
    <!-- <p>hello<span>vaaasu</span></p>
    <button>click</button> -->
    <!-- <input type="text" id="">
    <a href="hhhhhhhhhhjjj"></a>  -->
    
    <!-- <p class="new">Lorem ipsum dolor sit amet.</p>
   <h3>hello</h3>
   <div class="text">
    
    <ul id="container">
        <li >a</li>
        <li>b</li>
        <li>c</li>
    </ul>


    <p class="neww">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, facilis?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    <p class="neww">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nihil ipsum error.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    
   </div>  -->
      
    <!-- <button>click</button>
    <div>
        <h2>empty</h2>
    </div> -->
    <form id="validation" action="">
        <input type="text" name="username" placeholder="username">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <button>submit</button>
    </form>

    <!-- <script>
        $(document).ready(function(){
    $("#validation").validate({
        rules:{
            username:"required",
            email:"required",
            password:"required"
        },
        message:{
            username:"please enter username",
            email:"please enter username",
            password:"please enter password"

        },
        submitHandler:function(form){
            form.submit()
        }
    })
})

    </script> -->
</body>
</html>