{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/adminhome.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
        h1 a{
            text-decoration: none;
            color: aliceblue;
            font-size: 70%;
            border: 2px solid rgb(55, 55, 124);
            padding: 8px;
            border-radius: 4px;
            
         }
         .new{
             margin-top: 8%;
             color: aliceblue;
         }
    </style>
</head>
<body>
    
    <center>
        <a class="navbar-brand" href="#"><img width="30%" style="margin-top: 0px;margin-bottom: -5%; " src="{% static 'images/aaa.png'%}" alt=""></a>
    <div class="new">
        <h1><a href="{% url 'todaybooking' %}">TODAY BOOKINGS</a></h1>
        <h1><a href="">ALL BOOKINGS</a></h1>
        
    </div>
    </center>
</body>
</html>