{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/todaybooking.css' %}">
</head>
<body>
    <a class="navbar-brand" href="#"><img width="20%" style="margin-top: 0px;margin-bottom: -5%; " src="{% static 'images/aaa.png'%}" alt=""></a>
    <div style="margin-top: 10%;" class="roww">
        <div class="columnn">
           <h1>PARAMOUNT TOWER</h1>
           <p>NO OF ROOMS : 2 <br>
            TOTAL PAYMENTS :5500</p>
            <button style="color: rgb(65, 53, 170);font-size: 20px;padding: 5px;">PAY TO HOTEL</button>
           </div>
           <div class="columnn">
            <h1>HOTEL BLISS</h1>
            <p>NO OF ROOMS : 1 <br>
             TOTAL PAYMENTS :5500</p>
             <button style="color: rgb(65, 53, 170);font-size: 20px;padding: 5px;">PAY TO HOTEL</button>
            </div>
            <div class="columnn">
                <h1>HOTEL ELITE</h1>
                <p>NO OF ROOMS : 2 <br>
                 TOTAL PAYMENTS :5500</p>
                 <button style="color: rgb(65, 53, 170);font-size: 20px;padding: 5px;">PAY TO HOTEL</button>
            </div>
           
         </div> 
</body>
</html>